@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@300;400;600&display=swap");

/* Global styles */
:root {
  /* Primary colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral colors */
  --transparent-white-p: hsla(0, 0%, 100%, 0.75);

  --very-light-gray-bg-head-btns: hsl(0, 0%, 95%);

  /* Typography */
  --fs-b: 15px;
  --ff-ld: "Lexend Deca", sans-serif;
  --ff-bsd: "Big Shoulders Display", sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Custom styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: --very-light-gray-bg-head-btns;
  min-height: calc(100vh - 1);
  font-family: var(--ff-ld);
}

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
}

.cards {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
}
.sedan {
  background: var(--bright-orange);
}
.suv {
  background: var(--dark-cyan);
}
.luxury {
  background: var(--very-dark-cyan);
}
.cards.sedan {
  border-radius: 0.625rem 0 0 0.625rem;
}

.cards img {
  margin-bottom: 1.5rem;
}

.cards.luxury {
  border-radius: 0 0.625rem 0.625rem 0;
}
.title,
.card-detail {
  color: var(--very-light-gray-bg-head-btns);
}

.title {
  margin-bottom: 1rem;
  font-weight: var(--fw-bold);
  font-size: 2.3rem;
  font-family: var(--ff-bsd);
}
.card-detail {
  margin-bottom: 2rem;
  font-family: var(--ff-ld);
  font-size: 15px;
  line-height: 1.5;
}

.btns {
  background: var(--very-light-gray-bg-head-btns);
  padding: 8px 20px;
  border-radius: 30px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btns.sedan {
  color: var(--bright-orange);
}
.btns.suv {
  color: var(--dark-cyan);
}
.btns.luxury {
  color: var(--very-dark-cyan);
}

.btns:hover {
  background: transparent;
  color: var(--very-light-gray-bg-head-btns);
  border: 2px solid var(--very-light-gray-bg-head-btns);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    max-width: 900px;
    margin: auto;
  }
  .cards {
    height: 500px;
    padding: 50px;
  }
  .card-detail {
    margin-bottom: 80px;
  }
}

@media (max-width: 375px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .cards.sedan {
    border-radius: 0.625rem 0.625rem 0 0;
  }

  .cards.luxury {
    border-radius: 0 0 0.625rem 0.625rem;
  }
  .card-title {
    margin: 15px;
  }

  .card-detail {
    margin: 15px 0 20px 0;
  }

  .btns {
    padding: 10px 20px;
    font-size: 10px;
    margin-bottom: 1rem;
  }

  .btns:hover {
    background: transparent;
    color: var(--very-light-gray-bg-head-btns);
    border: 2px solid var(--very-light-gray-bg-head-btns);
  }
}